<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-item>
    <ion-label position="floating">Repository</ion-label>
    <ion-input [formControl]="repo" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="searchRepos()">Search</ion-button>
</ion-card>
<ion-content>
  <ion-row>
    <ion-col>
      <ng-container *ngFor="let repo of repos">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="repo.owner.avatar_url" />
          </ion-avatar>
          <ion-label>{{repo.full_name}}</ion-label>
        </ion-item>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
